*

!.github/
!.github/*
!CMakeLists.txt
!LICENSE
!apps/examples/
!apps/examples/*

!build.sh
!configs/examples/
!configs/examples/*
!create.py
!libs/core/
!libs/extensions/
!libs/extensions/*
!libs/extensions/src
!libs/extensions/src/*
!libs/extensions/include/
!libs/extensions/include/*
!libs/histogramming/

!pylibs/
!pylibs/*
!pylibs/*/*
!samples/
!samples/*
!templates/
!templates/*

!.gitignore_user
!.gitignore_tea
!update_tea.sh
!init.sh

samples/*/*_hists.root
samples/*/*/*
