CMakeLists.txt
LICENSE
apps/examples/
apps/tests/

build.sh
configs/examples/
create.py
libs/core/
libs/extensions/
libs/histogramming/

pylibs/
samples/
templates/
templates/*


bin/*
build/*
plots/*

.vscode/*

samples/*/*_hists.root
samples/*/*/*

update_tea.sh
.gitignore_tea
.gitignore_user
.github/README_tea.md
.github/README_user.md
